<!doctype html>
<html ng-app="gdgBoomerang" itemscope itemtype="http://schema.org/Organization" lang="en">
<head>
    <base href="/">
    <title>GDG Kansas City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta itemprop="name" content="GDG Kansas City">
    <meta itemprop="description" content="Google Developer Groups (GDG) are technology user groups that meet to discuss the latest Technologies, Tools, SDKs, &amp; APIs like Android, GWT, GAE, &amp; GCP.">
    <meta itemprop="image" content="http://gdgkc.org/images/gdg-logo.png">
    <meta name="application-name" content="GDG Boomerang">
    <link rel="canonical" href="http://gdgkc.org" />
    <link href='//fonts.googleapis.com/css?family=Roboto:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/gdg.css" rel="stylesheet" media="screen">
    <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
    
    <script src="//code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <script src="//code.angularjs.org/1.3.15/angular-sanitize.min.js"></script>
    
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script src="libs/angular.ui.min.js"></script>
    <script src="js/boomerang.js"></script>
    <script src="js/config.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49153111-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="MainControl" data-status="{{ status }}" ng-cloak>
<!-- NAV -->
<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" ng-click="isNavCollapsed = !isNavCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" id="gdg_chapter_name" href="/about">{{ chapter_name }}</a>

            <div class="nav-collapse" collapse="isNavCollapsed" ng-click="isNavCollapsed = true">
                <ul class="nav">
                    <li ng-class="{ 'active' : activeTab=='about' }"><a href="/about">About</a></li>
                    <li ng-class="{ 'active' : activeTab=='news' }"><a href="/news">News</a></li>
                    <li ng-class="{ 'active' : activeTab=='events' }"><a href="/events">Events</a></li>
                    <li ng-show="photos" ng-class="{ 'active' : activeTab=='photos' }"><a href="/photos">Photos</a></li>
                    <li ng-show="google_plus_link"><a ng-href="{{ google_plus_link }}" href="{{ google_plus_link }}" rel="publisher" target="_blank">Google+</a></li>
                    <li ng-show="youtube_link"><a ng-href="{{ youtube_link }}" target="_blank">YouTube</a></li>
                    <li ng-show="meetup_link"><a ng-href="{{ meetup_link }}" target="_blank">Meetup</a></li>
                    <li ng-show="twitter_link"><a ng-href="{{ twitter_link }}" target="_blank">Twitter</a></li>
                    <li ng-show="facebook_link"><a ng-href="{{ facebook_link }}" target="_blank">Facebook</a></li>
                    <li ng-show="github_link"><a ng-href="{{ github_link }}" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-view></div>
</div>
<script type="text/javascript">
window.___gcfg = {
    lang: 'en-US',
    parsetags: 'explicit'
};
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
</body>
</html>
